﻿<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="pin-wrapper" style="height: 557px;">
            <div id="cart_box">
                <h3>
                    Your order <i class="icon_cart_alt pull-right"></i>
                </h3>
                <table class="table table_summary">
                    <tbody>
                        <tr ng-repeat="p in vm.Cart.Products">
                            <td>
                                <a href="javascript:void(0)" class="remove_item"></a> <strong>{{p.Quantity}}x${{p.Product.Price}}</strong> {{p.Product.Name}}
                            </td>
                            <td>
                                <strong class="pull-right">${{p.Total()}}</strong>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <table class="table table_summary">
                    <tbody>
                        <tr>
                            <td>
                                Subtotal <span class="pull-right">${{vm.Cart.SubTotal}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Delivery fee <span class="pull-right">${{vm.Cart.DeliveryFee}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="total">
                                TOTAL <span class="pull-right">${{vm.Cart.Total}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <a class="btn btn-default" ui-sref="root.home">Change cart</a>
                <a class="btn btn-default btn-success" ui-sref="root.purchase">Purchase</a>
            </div>
        </div><!-- End cart_box -->
    </div><!-- End col-md-3-->
    <div class="col-md-2"></div>
</div>