﻿<div class="container-fluid">
    <div class="row">
        <div class="col--md-4 col-sm-4 col-xs-4">
            <a href="/" id="logo" style="color: white">
                Shopping Cart
            </a>
        </div>         
    </div><!-- End row -->
</div>