﻿<div class="row">
    <div class="col-md-3">
        <div id="filters_col">
            <a data-toggle="collapse" href="#collapseFilters" aria-expanded="true" aria-controls="collapseFilters" id="filters_col_bt">Filters</a>
            <div class="" id="collapseFiltersNo">
                <div class="filter_type">
                    <h6>Keyword</h6>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search by keyword" ng-model="vm.SearchRequest.Keyword">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vm.Search()">
                                <i class="icon-search pull-right"></i>
                            </button>
                        </span>
                    </div>

                    <h6>Type</h6>
                    <ul>
                        <li ng-repeat="c in vm.LookupData.Types">
                            <label>
                                <input type="radio" name="selectedTypes[]" class="icheck" value="{{c}}" ng-click="vm.ToggleSelection2('Type',c)">{{c}}
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="filter_type">
                    <h6>Rating</h6>
                    <ul>
                        <li>
                            <label>
                                <span aria-hidden="true"></span> <i class="fa font-icon-left-side"></i>Maximum Price (0=No limit)
                            </label>
                        </li>
                        <li>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Maximum Price" ng-model="vm.SearchRequest.Price">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="vm.Search()">
                                        <i class="icon-search pull-right"></i>
                                    </button>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div><!--End collapse -->
        </div><!--End filters col-->
    </div><!--End col-md 3-->

    <div class="col-md-6">

        <div id="tools">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="styled-select">
                        <select name="sort_rating" id="sort_rating">
                            <option value="" selected="">Sort by ranking</option>
                            <option value="lower">Lowest ranking</option>
                            <option value="higher">Highest ranking</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-9 col-sm-6 hidden-xs">
                    <a href="grid_list.html" class="bt_filters"><i class="icon-th"></i></a>
                </div>
            </div>
        </div><!--End tools -->

        <div class="strip_list wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;" ng-repeat="p in vm.Products">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <div class="desc" >
                        <div class="thumb_strip">
                            <a href="javascript:void(0)"><img src="{{p.ImageUrl}}" alt="{{p.Title}}"></a>
                        </div>

                        <h3>{{p.Name}}</h3>
                        <div class="type">
                            {{p.Type}}
                        </div>
                        <div class="location">
                            {{p.Description}}
                        </div>
                        <ul>
                            <li>Price : ${{p.Price}}</li>                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="go_to">
                        <div>
                            <a href="javascript:void(0)" class="btn_1" ng-click="vm.AddToCart(p)">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div><!-- End row-->
        </div><!-- End strip_list-->

        <a href="javascript:void(0)" class="load_more_bt wow fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;" ng-show="vm.Products.length==0">No items found</a>
        <a href="javascript:void(0)" class="load_more_bt wow fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;" ng-hide="vm.Products.length==0">Load more...</a>

    </div><!-- End col-md-6-->

    <div class="col-md-3">
        <div class="pin-wrapper" style="height: 557px;">
            <div id="cart_box" style="width: 263px;">
                <h3>
                    Your order <i class="icon_cart_alt pull-right"></i>
                </h3>
                <table class="table table_summary">
                    <tbody>
                        <tr ng-repeat="p in vm.Cart.Products">
                            <td>
                                <a href="javascript:void(0)" ng-click="vm.RemoveFromCart(p.Product)" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>{{p.Quantity}}x${{p.Product.Price}}</strong> {{p.Product.Name}}
                            </td>
                            <td>
                                <strong class="pull-right">${{p.Total()}}</strong>
                            </td>
                        </tr>
                      
                    </tbody>
                </table>
              
                <table class="table table_summary">
                    <tbody>
                        <tr>
                            <td>
                                Subtotal <span class="pull-right">${{vm.Cart.SubTotal}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Delivery fee <span class="pull-right">${{vm.Cart.DeliveryFee}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="total">
                                TOTAL <span class="pull-right">${{vm.Cart.Total}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <a class="btn_full" href="javascript:void(0)" ng-click="vm.GoToReview()">Order now</a>
            </div>
        </div><!-- End cart_box -->
    </div><!-- End col-md-3-->
</div>