﻿<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center"><h3>Invoice #{{vm.Purchase.ConfirmationNo}}</h3></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 style="margin-bottom:0;">ABC Coffee</h5>
            XXXX BROAD ST. SUITE 22H<br />
            NYC  XXXX
        </div>
        <div class="col-sm-6 text-right">
            Date: {{vm.Purchase.Date}}<br />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3">Bill to:</div>
                <div class="col-sm-9">
                    ABC STORES INC/dd's Discounts<br />
                    ACCOUNTS PAYABLE MERCHANDISE<br />
                    P.O. BOX XXXX<br />
                    PORTLAND, OR. XXXXX-XXXX
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-8 text-right">Ship to</div>
                <div class="col-sm-4 text-right">
                    ABC STORES DISTR. CENTER<br />
                    XXXX INDIAN AVENUE<br />
                    PERRIS, CA XXXXX
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Qty</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Unit Price</th>
                        <th>Unit Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in vm.Purchase.Cart.Products">
                        <td>{{p.Quantity}}</td>
                        <td>{{p.Product.Name}}</td>
                        <td>{{p.Product.Description}}</td>
                        <td>${{p.Product.Price}}</td>
                        <td>${{p.Total()}}</td>
                    </tr>
                    
                    <tr>
                        <td style="border: 1px solid #fff;"></td>
                        <td style="border: 1px solid #fff;"></td>
                        <td style="border: 1px solid #fff;"></td>
                        <td style="border: 1px solid #fff;"></td>
                        <td style="border: 1px solid #fff;"></td>
                        <td>Subtotal</td>
                        <td>${{vm.Purchase.Cart.SubTotal}}</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #fff;"></td>
                        <td style="border: 1px solid #fff;"></td>
                        <td style="border: 1px solid #fff;"></td>
                        <td style="border: 1px solid #fff;"></td>
                        <td style="border: 1px solid #fff;"></td>
                        <td>Sales Tax</td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #fff;"></td>
                        <td style="border: 1px solid #fff;"></td>
                        <td style="border: 1px solid #fff;"></td>
                        <td style="border: 1px solid #fff;"></td>
                        <td style="border: 1px solid #fff;"></td>
                        <td>Total</td>
                        <td>${{vm.Purchase.Cart.Total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <hr />
        </div>
    </div>

</div>